/* COMMON */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #3a459f;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.btn {
  background-color: #3a459f;
  border-radius: 25px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  width: 100px;
  height: 33px;
  border: 1px solid #000;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}
.btn:hover {
  background-color: #00d8d8;
  border: 1px solid #1d8888;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}

/* HEADER */
body .header-bg { 
  background-color: #5672a5;
}
header {
  background-color: transparent;
  transition: 0.3s;

  /* 헤더 고정 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .header_betw {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
header > .inner {
  height: 71px;
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* padding: 50px;
  padding-right: 0; */
  font-size: 18px;
}
header .main-menu li a:hover {
  color:#b4e7f7 ;
}
header .main-menu .login {
  padding-right: 0;
}
header .main-menu .login .btnlogin {
  cursor: pointer;
  width: 100px;
  height: 34px;
  font-size: 16px;
}
header .main-menu a {
  color: #fff;
}
header .main-menu .inner {
  border-radius: 8px;
  display: none;
  width: 125px;
}
header .main-menu .inner li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu .inner li a {
  color: #333;
  padding: 10px 5px;
  font-size: 16px;
  /* width: 100px; */
}
header .main-menu .inner li a:hover {
  color: #3a459f;
  font-weight: 700;
}
header .item {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu .item:hover ul {
  display: block;
}
header .main-menu .item .inner {
  background-color: #fff;
  color: #333;
  
  /* width: 100px; */
  position: absolute;
  top: 70px;
}

/* BG */
.bg_img {
  background-image: url(../img/nav_1/sub_company.png);
  width: 100vw;
  height: 80vh;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bg_inner .bg_text .bg_text_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-bottom: 20px;
}
.bg_inner .bg_text .bg_text_flex h2 {
  margin-left: 20px;
  font-size: 30px;
}
.bg_inner .bg_text h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.bg_inner .bg_text h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.bg_inner .bg_text h4 span {
  text-decoration: underline;
}
.bg_inner .bg_text .bg_text_flex img {
  width: 43px;
  height: 50px;
}
#app {
  font-size: 48px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}

/* CONTENT-1 */
.content-1-inner {
  padding: 100px 0;
  border-bottom: 1px solid #e1e1e1;
}
.content-1 .content-1-flex {
  display: flex;
}
.content-1 .content-1-flex .content-1-text h2 {
  font-size: 50px;
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}
.content-1 .content-1-flex .content-1-text .content-1-maintext {
  font-size: 16px;
  color: #666;
  margin-bottom: 50px;
  padding-right: 70px;
}
.content-1 .content-1-flex .content-1-text p .bold {
  font-weight: 700;
}
.content-1 .content-1-flex .content-1-text p .underline {
  text-decoration: underline;
}
.content-1 .content-1-flex .content-1-text .content-1-text-flex {
  display: flex;
  padding-right: 70px;
  justify-content: space-between;
  color: #000;
  margin: 20px 0;
}

/* CONTENT-2 */
.content-2 .text-ani {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 150px;
}
.content-2 .text-ani .text-ani-in {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  transition: 0.4s;
  transform: perspective(300px);
}
.content-2 .text-ani .text-ani-out {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  transition: 0.4s;
  transform: perspective(300px);
}
.content-2 .text-ani:hover .text-ani-in {
  transform: skewY(15deg);
}
.content-2 .text-ani:hover .text-ani-out {
  transform: skewY(-15deg);
  background-color: rgba(194, 194, 194, 0.1);
}

.content-2 p {
  text-align: center;
  margin-top: 65px;
  color: #333;
  font-size: 18px;
}

.content-2 .content-2-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
.content-2 .content-2-img h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.content-2 .content-2-img h3 {
  font-size: 20px;
  text-align: center;
}
.content-2 .content-2-img img {
  margin: 30px auto;
}
.content-2 .content-2-img1 {
  background-color: #3a459f;
  color: #fff;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  padding: 30px;
  box-sizing: border-box;
}
.content-2 .content-2-img2 {
  background-color: #000;
  color: #fff;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 60px;
  position: relative;
}
.content-2 .content-2-img2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -55px;
}
.content-2 .content-2-img2::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -55px;
}

