/* COMMON */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #3a459f;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.btn {
  background-color: #3a459f;
  border-radius: 25px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  width: 100px;
  height: 33px;
  border: 1px solid #000;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}
.btn:hover {
  background-color: #00d8d8;
  border: 1px solid #1d8888;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}

/* HEADER */
body .header-bg { 
  background-color: #5672a5;
}
header {
  background-color: transparent;
  transition: 0.3s;

  /* 헤더 고정 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .header_betw {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
header > .inner {
  height: 71px;
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* padding: 50px;
  padding-right: 0; */
  font-size: 18px;
}
header .main-menu li a:hover {
  color:#b4e7f7 ;
}
header .main-menu .login {
  padding-right: 0;
}
header .main-menu .login .btnlogin {
  cursor: pointer;
  width: 100px;
  height: 34px;
  font-size: 16px;
}
header .main-menu a {
  color: #fff;
}
header .main-menu .inner {
  border-radius: 8px;
  display: none;
  width: 125px;
}
header .main-menu .inner li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu .inner li a {
  color: #333;
  padding: 10px 5px;
  font-size: 16px;
  /* width: 100px; */
}
header .main-menu .inner li a:hover {
  color: #3a459f;
  font-weight: 700;
}
header .item {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .main-menu .item:hover ul {
  display: block;
}
header .main-menu .item .inner {
  background-color: #fff;
  color: #333;
  
  /* width: 100px; */
  position: absolute;
  top: 70px;
}

/* BG */
.bg_img {
  background-image: url(../img/nav_1/sub_company.png);
  width: 99.1vw;
  height: 80vh;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bg_inner .bg_text .bg_text_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-bottom: 20px;
}
.bg_inner .bg_text .bg_text_flex h2 {
  margin-left: 20px;
  font-size: 30px;
}
.bg_inner .bg_text h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.bg_inner .bg_text h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.bg_inner .bg_text h4 span {
  text-decoration: underline;
}
.bg_inner .bg_text .bg_text_flex img {
  width: 43px;
  height: 50px;
}
#app {
  font-size: 48px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}
/* BG 유성효과 */
.star {
  display: flex;
}
.star .st {
  height: 30px;
  border-left: 1px solid #fff;
  border-radius: 50%;
  box-shadow:0px 3px 8px 0px rgba(149, 225, 255, 0.4);
  background-color: #fff;
  transition: 5s;
  z-index: 1;
}
.star .st-1 {
  position: absolute;
  left: 0;
  top: -35px;
}
.star .st-2 {
  position: absolute;
  left: 50%;
  top: -35px;
}
.star .st-3 {
  position: absolute;
  left: 100%;
  top: -35px;
}
.star .star-1 {
  opacity: 0.2;
}
.star .star-2 {
  opacity: 0.3;
}
.star .star-3 {
  opacity: 0.5;
}
.star .star-4 {
  opacity: 0.7;
}
.star .star-5 {
  opacity: 1;
}
.star .st-1 {
  animation: starLoop 1.5s linear infinite;
}
@keyframes starLoop {
  0% {
    -webkit-transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(80vh);
  }
}
.star .st-2 {
  animation: starLoop 1.9s linear infinite;
}
@keyframes starLoop {
  0% {
    -webkit-transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(80vh);
  }
}
.star .st-3 {
  animation: starLoop 2.2s linear infinite;
}
@keyframes starLoop {
  0% {
    -webkit-transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(80vh);
  }
}

/* CONTENT-1 */
.content-1-inner {
  padding: 100px 0;
  border-bottom: 1px solid #e1e1e1;
}
.content-1 .content-1-flex {
  display: flex;
}
.content-1 .content-1-flex .content-1-text h2 {
  font-size: 50px;
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}
.content-1 .content-1-flex .content-1-text .content-1-maintext {
  font-size: 16px;
  color: #666;
  margin-bottom: 50px;
  padding-right: 70px;
}
.content-1 .content-1-flex .content-1-text p .bold {
  font-weight: 700;
}
.content-1 .content-1-flex .content-1-text p .underline {
  text-decoration: underline;
}
.content-1 .content-1-flex .content-1-text .content-1-text-flex {
  display: flex;
  padding-right: 70px;
  justify-content: space-between;
  color: #000;
  margin: 20px 0;
}

/* CONTENT-2 */
.content-2 {
  padding-bottom: 100px;
}
.content-2 .text-ani {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 150px;
}
.content-2 .text-ani .text-ani-in {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  transition: 0.4s;
  transform: perspective(300px);
}
.content-2 .text-ani .text-ani-out {
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  transition: 0.4s;
  transform: perspective(300px);
}
.content-2 .text-ani:hover .text-ani-in {
  transform: skewY(15deg);
}
.content-2 .text-ani:hover .text-ani-out {
  transform: skewY(-15deg);
  background-color: rgba(194, 194, 194, 0.1);
}

.content-2 p {
  text-align: center;
  margin-top: 65px;
  color: #333;
  font-size: 18px;
}

.content-2 .content-2-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
.content-2 .content-2-img h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.content-2 .content-2-img h3 {
  font-size: 20px;
  text-align: center;
}
.content-2 .content-2-img img {
  margin: 30px auto;
}
.content-2 .content-2-img1 {
  background-color: #3a459f;
  color: #fff;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  padding: 30px;
  box-sizing: border-box;
}
.content-2 .content-2-img2 {
  background-color: #000;
  color: #fff;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 60px;
  position: relative;
}
.content-2 .content-2-img2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -55px;
}
.content-2 .content-2-img2::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -55px;
}

/* CONTENT-3 */
.content-3 {
  background-color: #f1f1f1;
  padding: 100px 0;
}
.content-3 h2 {
  font-size: 50px;
  font-weight: 700;
  color: #313131;
}
.content-3 h3 {
  font-size: 20px;
  color: #313131;
  margin: 20px 0;
}
.content-3 .content-3-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content-3 .content-3-img li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  margin: 30px 40px 0 0; 
}
.content-3 .content-3-img li:nth-child(4),
.content-3 .content-3-img li:nth-child(8) {
  margin-right: 0;
}
.content-3 .content-3-img li img {
  margin: auto;
  box-sizing: border-box;
}

/* 문의 Fixed */
.side-fixed {
  position: fixed;
  z-index: 10;
  right: 25px;
  bottom: 25px;
  transition: 1s;
}
.side-fixed a {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  display: block;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}
.side-fixed a img {
  width: 30px;
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.side-fixed a div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  line-height: 69px;  
  transition: 0.4s;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.side-fixed a:hover div {
  position: absolute;
  width: 130px;
  height: 90%;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transform: translateX(-75%);
  border-radius: 50px;
  opacity: 1;
  z-index: -1;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
  transition: 0.5s;
  padding-right: 10px;
  line-height: 62px;
}
/* 문의 클릭시 창 */
.fixed-form {
  z-index: 10;
  width: 437px;
  height: 100%;
  position: fixed;
  right: -437px;
  opacity: 0;
  bottom: 0px;
  background-color: #fff;
  color: #000;
  padding: 33px;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
  box-sizing: border-box;
  transition: 1s;
  overflow: auto;
}
.fixed-form .close-btn {
  cursor: pointer;
}
.fixed-form h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 20px 0;
}
.fixed-form p {
  font-size: 13px;
  color: #444;
  margin-bottom: 20px;
}
.fixed-form p .bold {
  font-size: 14px;
  font-weight: 700;
}
.fixed-form p .underline {
  text-decoration: underline;
}
.fixed-form .fixed-input {
  margin: 10px 0;
}
.fixed-form .fixed-input-checkbox {
  width: 14px;
  height: 14px;
}
.fixed-form input {
  width: 90%;
  height: 40px;
  padding: 6px 35px 6px 10px;
  box-sizing: border-box;
  background-color: #f3f3f3f3;
  border: transparent;
  border-radius: 2px;
}
.fixed-form textarea {
  width: 90%;
  height: 77px;
  padding: 6px 35px 6px 10px;
  box-sizing: border-box;
  background-color: #f3f3f3f3;
  border: transparent;
  border-radius: 2px;
  resize: none;
}
/* fixed js */
.fixed-active {
  right: 0;
  opacity: 1;
}
.fixedBtn-active {
  right: 480px;
}

/* TOP */
.top {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
  display: block;
  z-index: 11;
  color: #3a459f;
  background-color:rgba(5, 8, 190, 0.5);
  width: 33px;
  height: 33px;
  text-align: center;
  border-radius: 50%;
  line-height: 33px;
  box-shadow:0px 3px 8px 0px rgba(112, 97, 243, 0.7);
} 
.top-ro {
  transform: rotate(135deg);
  border-left: 1px solid #3a459f;
  border-bottom: 1px solid #3a459f;
  display: block;
  width: 22px;
  height: 22px;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 17px;
  margin: auto;
  box-shadow:0px 3px 8px 0px rgba(116, 117, 214, 0.7);
}

/* FOOTER */
footer {
  background-color: #303030;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
}
footer .footer-flex p {
  font-size: 14px;
  color: #dddd;
  margin: 20px 0;
}
footer .footer-flex .btn {
  border-radius: 3px;
  background-color: #eee;
  width: 150px;
  margin-left: 5px;
  color: #000;
  border: 1px solid #fff;
}
footer .footer-flex .btn:hover {
  background-color: #000;
  color: #fff;
}
footer .copyright {
  font-size: 15px;
  color: #6b6b6b;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
footer .copyright:nth-child(2) {
  font-size: 12px;
}
footer .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
footer .btn span {
  font-size: 16px;
}
/* 반응형 햄버거 */
.nav-ham {
  position: fixed;
  width: 33px;
  height: 33px;
  z-index: 999;
  top: 20px;
  right: 66px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  opacity: 0;
  cursor: pointer;
}
.ham-active {
  /* flex-flow: row;
  align-items: center; */
}
.nav-ham span {
  display: block;
  z-index: 999;
  width: 22px;
  height: 5px;
  background-color: #fff;
  transition: 0.7s;
  position: absolute;
}
.nav-ham .ham1 {
  width: 15px;
  height: 5px;
  top: 0px;
  left: 0px;
}
.nav-ham .ham2 {
  width: 33px;
  height: 5px;
}
.nav-ham .ham3 {
  width: 15px;
  height: 5px;
  bottom: 0px;
  right: 0px;
}
.ham-active .ham1 {
  transform: rotate(45deg) translateY(4px) translateX(6px);
}
.ham-active .ham2 {
  transform: rotate(-45deg) translate(-1px);
}
.ham-active .ham3 {
  transform: rotate(45deg) translateY(-4px) translateX(-6px);
}

/* 반응형 햄버거 클릭시 메뉴 */
.ham-menu {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0px;
  left: -470px;
  z-index: 9;
  opacity: 0;
  transition: 1s;
  box-shadow:0px 3px 8px 0px rgba(0,0,0,0.4);
}
.ham-menu img {
  width: 150px;
  height: 40px;
  margin: 14px auto 0;
}
.ham-menu li a {
  width: 470px;
  height: 80px;
  background-color: #fff;
  padding: 14px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.ham-menu li a:hover {
  background-color: #eee;
}
.ham-menu li a:hover {
  color: #00d8d8;
}
.ham-menu li:hover:first-child {
  background-color: #fff;
}
.ham-menu li:first-child {
  padding: 0px;
  height: 50px;
  background-color: #fff;
}
.ham-menu li + li {
  border-bottom: 1px solid #eee;
}
.ham-active .ham-menu {
  left: 0px;
  opacity: 1;
}



@media screen and (max-width: 945px) {
  /* 헤더 */
  header .main-menu { 
    display: none;
  }

  /* 헴버거 */
  .nav-ham {
    opacity: 1;
  }
}

@media screen and (max-width: 565px) {
  /* 햄버거 */
  .nav-ham span {
    background-color: #3a459f;
  }
}

@media screen and (max-width: 480px) {
  /* 햄버거 */
  .ham-menu li a {
    width: 350px;
  }
}